<div style=" margin: 0 auto; width: 50%; ">
  <p>¡Hola, ha recibido una noticia o sugerencia desde el portal!</p>

  <p>Contenido del correo:</p>
  <p>
    Nombre y apellido: <%= @purchase.total_amount %>
    <br>
    Correo electronico: <%= @purchase.total_amount %>
    <br>
    Asunto: <%= @purchase.total_amount %>
    <br>
    Mensaje: <%= @purchase.total_amount %>
  </p>
</div>